.header{
  padding-top: 5px;
  background-color: #333;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
  height: 30%;
}
.text-container{
  display: block;
  align-items: flex-end;
  justify-content: center;
}

.search-bar-container{
  width: 300px;
}

.required-error{
  border-color: red;
  border-width: 3px;
}

.text-center{
  text-align: center;
}
